body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 30px;
}
h5 {
	font-size: 25px;
	margin: 0;
}
p {
	font-size: 18px;
	line-height: 25px;
    font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;
}
p {
	font-size: 18px;
	line-height: 25px;
    font-family: 'Poppins', sans-serif;

}
a{
    text-decoration: none;
}
section{
    margin: 100px 0;
}
.section-heading{
    text-align: center;
}
/* banner-area  section start */
.button {
    padding: 12px 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(45deg, #f10b0b, #c02835);
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}
.flexible-area {
	display: flex;
	align-items: center;
}
.half-width {
    width: 35%;
    float: left;
    margin-left: 10%;
}
.half-width img{
    width: 100%;
}
.red{
    color: red;
}
.banner h1 {
    position: relative;
    font-family: 'Yeseva One', cursive;
    padding-left: 4%;
}
.banner h1::before {
    content: "";
    width: 1%;
    height: 78%;
    background-color: #a12939;
    position: absolute;
    border-radius: 30px;
    left: 0;
    top: 13%;
}
/* banner-area section end */
/* my-mission-area section stat */
.One-third-width {
    width: 22%;
}
.my-mission-item {
    padding: 28px;
    border-radius: 28px;
    background-color: #edf5f6;
    margin: 10px;
}
.my-mission-item img {
    width: 50%;
    margin-bottom: 10px;
}
.justify-center{
    justify-content: center;
}
.lite-pink{
    background-color: #ffeeee;
}
.lite-orange{
    background-color: #fff4d6;
}
/* my-mission-area section end */
/* develop-area section start */
.develop-img, 
.community-img{
	width: 30%;
}
.develop-img img, 
.community-img img{
    width: 100%;
}
.develop-content,
.community-content{
	width: 46%;
	margin-left: 4%;
}
.community-content{
    margin: 0%;
}
.community-img{
    margin-left: 4%;
}
/* develop-area section end */